.Question button {
    outline: none;
    width: 150px;
    height: 65px;
    margin: 5px;
    border: none;
    background: rgb(158, 82, 82);
    color: white;
}

.Question button:hover {
    cursor: pointer;
    background: rgb(218, 114, 114);
}

.Question button.correct {
    cursor: auto;
    background: green;
}

.Question button.incorrect {
    cursor: auto;
    background: red;
}

.Question button.inactive {
    cursor: auto;
    background: rgb(53, 53, 53);
}

.Question .answers {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    margin-top: 25px;
}