.Question button {
    outline: none;
    width: 150px;
    height: 65px;
    margin: 5px;
    border: none;
    background: #7a51db;
    color: white;
}

.Question button:hover {
    cursor: pointer;
    background: #8457ed;
}

.Question button.correct {
    cursor: auto;
    background: #75D56B;
}

.Question button.incorrect {
    cursor: auto;
    background: #FB7E84;
}

.Question .answers {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    margin-top: 25px;
}

.Question h2 {
    margin-top: 1em;
}

.Question {
    padding-left: 2em;
    padding-right: 2em;
}
