.Highscore h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Highscore ul {
    max-width: 600px;
    margin: 0 auto;
}

.Highscore ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(233, 233, 233);
}

.Highscore ul li.header {
    background: rgb(207, 207, 207);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.Highscore .avatar {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.Highscore .rankHeader {
    margin-left: 20px;
    width: 100px;
}

.Highscore .rank {
    margin-left: 20px;
    width: 100px;
}

.Highscore .playerHeader {
    margin-left: 20px;
}

.Highscore .player {
    margin-left: 10px;
}

.Highscore .scoreHeader {
    width: 100px;
}

.Highscore .score {
    width: 100px;
}

.Highscore .personalHighscore {
    margin-left: 30px;
}