.CreateUser h3 {
  margin-top: 1em;
}

.CreateUser {
    margin-top: 50px;
    margin-bottom: 50px;
}

input {
  display: inline;
  background: #ded1ff;
  min-width: 200px;
  padding: 12.5px;
  outline: none;
  border: none;
  color: #6e49c6;
}

input::placeholder {
    color: #9875ea;
}
