nav {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav button {
    padding: 15px 30px;
    outline: none;
    border: none;
    background: none;
    color: white;
    border-top: 3px solid transparent;
    font-size: 18px;
    box-shadow: none;
}

nav button:hover {
    cursor: pointer;
}

nav button.active {
    border-top: 3px solid #ad8cff;
}
