nav {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
}

nav button {
    padding: 15px 30px;
    outline: none;
    border: none;
    background: rgb(56, 56, 56);
    color: white;
    border-top: 3px solid rgb(56, 56, 56);
}

nav button:hover {
    background: rgb(85, 85, 85);
    cursor: pointer;
}

nav button.active {
    border-top: 3px solid red;
}